
h1
{
	color: white;
	text-align: center;
	font-family: Arial Black;
	font-size: 35px;
}	
li
{
	list-style: none;
	float: left;
	padding-top: 1.2em;
	padding-left: 1em;
}
p
{
	font-size: 18px;
	padding-left: 1em;
}
a
{
	color: black;
}
a:hover
{
    color: #2c3e50;
}
.wrap
{

	padding-top: 5em;
}
.wrap1 .row
{
	background-color: #2c3e50;
	padding-top: 8em;
}
.wrap2 .row
{
	background-color:#2c3e50;
	padding-top: 1em;
	padding-bottom: 2em;
}
.wrap2 
{
	text-align: center;
	color: white;
}
.wrap .row , .wrap3
{
	background-color: #18bc9c;
}
ul
{
 padding-top: 4em;
 padding-left: 0em;

}
.wrap3
{
	text-align: center;
	font-size: 4em;
}
html,.row
{
		background-color: #18bc9c;
}
@media all and (max-width: 361px){
    .wrap2,.wrap5{
        font-size: 14px;
    }
    ul
    {
    	padding-left: 20px;
    	padding-top: 70px;

    }
    li
    {
    	font-size: 20px;
    	padding-left: 2px;
    }
    .wrap3 p
    {
    	padding-top: 100px;
    	font-size:10px;
    	color: black;
    }
}

@media all and (min-width: 1200px){
    .wrap2{
        font-size: 20px;
    }
    li
    {
    	font-size: 40px;
        padding-left: 20px;
    }
    ul
    {
    	padding-left: 371px;

    }
    .wrap3  p
    {
        padding-top: 160px;
        font-size: 18px;
        color: black;
    }
}
@media all and (min-width: 362px) and (max-width:760px){
	li
	{
		font-size: 25px ;
		padding-left: 5px ;
	}
	ul
	{
		padding-left: 90px;
	}
	.wrap3 p
	{
		padding-top:100px;
		font-size:10px;
		color: black;
	}
}
@media all and (min-width: 761px) and (max-width:1199px) and (orientation: portrait){
	li
	{
		font-size: 25px ;
		padding-left: 7px ;
	}
	ul
	{
		padding-left: 115px;
	}
	.wrap3 p
	{
		padding-top:100px;
		font-size:10px;
		color: black;
	}
}
@media all and (min-width: 761px) and (max-width:1199px) and (orientation: landscape){
	li
	{
		font-size: 35px ;
		padding-left: 7px ;
	}
	ul
	{
		padding-left: 200px;
	}
	.wrap3 p
	{
		padding-top:100px;
		font-size:10px;
		color: black;
	}
}
